<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>
        Pipes Incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">

    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
               Saludos {{nombre}}, es un placer 
            {{genero | i18nSelect:invitacionMap}} 
            a nuestro evento. 
            </p>
           
            
            <button pButton 
                type="Button" 
                label="Cambiar Nombre"
                class="p-button-help p-button-outlined"
                (click)="cambiarNombre()">
            </button>

        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        
        <p-fieldset legend="i8nPlural Pipe" [toggleable]="true">
            <p>
                Actualmente tenemos {{clientes.length | i18nPlural:ClientesMap}} 
            </p>
            <p-button label="Borrar Cliente" 
                badge="{{clientes.length}}"
                class="p-button-warning"
                icon="pi pi-users"
                (onClick)="eliminarCliente()"
                >
            </p-button>
            

        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        
        <p-fieldset legend="Json Pipe" [toggleable]="true">
           <pre>
               {{persona | json}}
           </pre>
           <pre>
               {{heroes | json}}
           </pre>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
           <ul>
               <li *ngFor="let index of persona | keyvalue">
                  <b>{{index.key | titlecase}}</b> {{index.value}}
               </li>
           </ul>
        </p-fieldset>
    </div>

    <div class="p-col p-md-6">
        
        <p-fieldset legend="Async Pipe" [toggleable]="true">
           <pre>{{miObserbable | async}}</pre>

           <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
           <pre>{{valorPromesa | async}}</pre>
        </p-fieldset>
    </div>
    
  
</div>
