<app-menu></app-menu>

<router-outlet></router-outlet>
<!-- 
<div class="text-layout">
  <h3>{{ nombre |titlecase}}</h3>
  <h3>{{valor | number}} </h3>
  <h3>{{obj | json}} </h3> 
</div>




<button pButton 
        (click)="mostrarNombre()"
        label="Cambiar Nombre"
        icon="pi pi-bell" 
        class="p-button-help"
        iconPos="right"></button>



        <p-card [header]="nombre | titlecase"
                subheader="Esto es un subHeader" 
                [style]="{'width': '25rem', 'margin-bottom': '2em'}">
          <ng-template pTemplate="header">
              <img alt="Card" src="assets/showcase/images/usercard.png">
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </p-card>
        
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
              <img alt="Card" src="assets/showcase/images/usercard.png">
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
          <ng-template pTemplate="footer">
              <p-button label="Save" icon="pi pi-check"></p-button>
              <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
          </ng-template>
        </p-card> -->